h2{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: auto;
    padding: 100px;
}

.kotak1, .kotak2, .kotak3{
    background-color: rgb(224, 222, 97);
    border-radius: 5px;
}

.daftar{
    width: 100%;
    height: 25px;
    padding: 1px 0;
    background-color:rgb(250, 250, 250);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tombol{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border: none;
    background-color:rgb(238, 5, 5);
    font-size: 18px;
    color: black;
    border-radius: 20px;
}